#color {
    background-color: steelblue;
}

#font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#map {
    height: 60%;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}